.nav {display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 20px;
    position: relative;
}

a {text-decoration: none;}
ul {list-style: none;
}

.list{display: flex;}

.burgerbar {
    position: absolute;
    top:25px;
    right: 25px;
    font-size: 20px;
    display: none;}
    
    @media (max-width:480px) {
        .navigation {display: none;}
        
        .burgerbar {display: block;}
        .nav {display: flex;
            flex-direction: column;}
        .list {flex-direction: column;
            text-align:center;
            font-size: 17px;
        }
        .nav a {color:rgb(147, 127, 236)}
        .navigation.activenav{
            display: block;
            margin-top: 20px;
        }
    }
    